<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="Menu" type="button" (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SoulExplorer</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="minimize" type="button" (click)="onMinimize()">
    <mat-icon>minimize</mat-icon>
  </button>
  <button mat-icon-button aria-label="maximize" type="button" (click)="onMaximize()">
    <mat-icon>check_box_outline_blank</mat-icon>
  </button>
  <button mat-icon-button aria-label="close" type="button" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
