mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: auto;
  overflow: hidden;
  padding-top: 3em;
  height: calc(100vh - 4em);
  position: fixed;
}

.buttonLabel {
  padding-left: 1em;
}

.viewButton {
  width: 100%;
  display: inline-flex;
}

